@tailwind base;
@tailwind components;
@tailwind utilities;

 /* body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #d1d1d1) fixed;
} */
/*
#root {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* Style cho header fixed */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Thêm padding-top cho main content để tránh bị header che */
main {
  flex: 1;
  padding-top: 80px; /* Điều chỉnh giá trị này bằng với chiều cao của header */
}

/* footer {
  position: relative;
  z-index: 2;
  background-color: white;
} */
